body {
  font-family: sans-serif;
  font-size: 20px;
}

input {
  font-family: sans-serif;
  font-size: 100%;
  width: 160px;
  margin-right: -2px;
}

input[type="number"] {
  height: 26px;
}

button {
  font-family: sans-serif;
  font-size: 20px;
  background: black;
  outline: none;
  border: none;
  color: white;
  height: 32px;
  width: 65px;
}

button:hover {
  cursor: pointer;
}

p {
  margin: 12px 0px 12px 0px;
}

.values {
  margin: 30px 0px 30px 0px;
}
